<i ng-if="item.category == 'food'" class="icon ion-fork balanced"></i>
<i ng-if="item.category == 'other'" class="icon ion-waterdrop calm"></i>
<i ng-if="item.category == 'household'" class="icon ion-home royal"></i>
<i ng-if="item.category == 'pleasure'" class="icon ion-ios-star energized"></i>
<h2>{{item.costPerson1 + item.costPerson2}} kr <span class="item-note"><i class="ion-ios-clock-outline"></i> <span>{{item.createdAt | amCalendar}}</span></h2>
<p>{{config[0].$value}} handlade för {{item.costPerson1}} kr <br>{{config[1].$value}} handlade för {{item.costPerson2}} kr</p>
