<ion-view view-title="Räkna kvitto">
  <ion-content ng-controller="calculateCtrl">

    <div>
      <form name="calculateForm" novalidate>
        <div class="list" id="calculator">
          <li class="item item-divider">Kostnader</li>
          <label class="item item-input item-floating-label">
            <span class="input-label">Totalt</span>
            <input type="number" ng-model="amount" placeholder="Totalt" required>
          </label>

          <label class="item item-input item-floating-label">
            <span class="input-label">{{config[0].$value}}</span>
            <input type="number" ng-model="person1" placeholder="{{config[0].$value}}" required>
          </label>

          <label class="item item-input item-floating-label">
            <span class="input-label">{{config[1].$value}}</span>
            <input type="number" ng-model="person2" placeholder="{{config[1].$value}}" required>
          </label>

          <label class="item item-input item-select">
            <div class="input-label">
              Betalde gjorde...
            </div>
            <select name="singleSelect" ng-model="data.singleSelect" required>
              <option value="person1">{{config[0].$value}}</option>
              <option value="person2">{{config[1].$value}}</option>
            </select>
          </label>


          <ion-list name="category" ng-model"data.category">
            <li class="item item-divider">Typ av inköp</li>
            <ion-radio ng-model="category.name" value="food" ng-required="true">Mat <i class="ion-fork"></i></ion-radio>
            <ion-radio ng-model="category.name" value="pleasure" ng-required="true">Nöje <i class="ion-ios-star-outline"></i></ion-radio>
            <ion-radio ng-model="category.name" value="household" ng-required="true">Hushåll <i class="ion-home"></i></ion-radio>
            <ion-radio ng-model="category.name" value="other" ng-required="true">Övrigt <i class="ion-bag"></i></ion-radio>
          </ion-list>

          <div class="row text-center">
            <div class="col-50">
              <button class="button button-block button-calm ion-ios-calculator"
                      ng-disabled="calculateForm.$invalid"
                      ng-click='calculate()'
                      ui-sref="tab.calculations"
                      id="calculate"> Räkna ut</button>
            </div>
          </div>
        </div>
      </form>
    <br>
    <br>


  </ion-content>
</ion-view>
