<ion-view view-title="Räkna kvitto">
  <ion-content ng-controller="calculateCtrl">

    <div>
      <h1 class="text-center">Räkna ut</h1>
      <div class="list" id="calculator">
        <label class="item item-input item-floating-label">
          <span class="input-label">Totalt</span>
          <input type="number" id="amount" ng-model="sum.Total" placeholder="Totalt">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">{{config[0].$value}}</span>
          <input type="number" id="caroline" ng-model="sum.Caroline" placeholder="{{config[0].$value}}">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">{{config[1].$value}}</span>
          <input type="number" id="daniel" ng-model="sum.Daniel" placeholder="{{config[1].$value}}">
        </label>

        <div class="padding-button">
          <button class="button button-block button-calm ion-calculator" ng-click='calculate()' id="calculate"> Räkna ut</button>
        </div>
    </div>


    <div class="card hidden" id="hidden-caroline-card">
      <div class="item item-text-wrap">
        <h2>{{config[0].$value}}</h2>
        <p>{{config[0].$value}} handlade för {{caroline}} kr.</p>
        <p>Detta är {{caroline_percent}}% av köpet.</p>
      </div>
    </div>

    <div class="card hidden" id="hidden-daniel-card">
      <div class="item item-text-wrap">
        <h2>{{config[1].$value}}</h2>
        <p>{{config[1].$value}} handlade för {{daniel}} kr.</p>
        <p>Detta är {{daniel_percent}}% av köpet.</p>
      </div>
    </div>

    <div class="padding-button hidden" id="hidden-save-button">
      <button class="button button-block button-balanced ion-bookmark" ng-click='save()' id="save"> Spara</button>
    </div>


  </ion-content>



</ion-view>
