<ion-view view-title="Logga in" name="login-view">
  <ion-content class="padding ">
    <br>
    <img class="icon-login" src="../img/login.png" alt="">
    <br>
    <p class="text-center lead">
      Logga in med ett google konto
    </p>
    <p class="text-center lead">
      för att få en personlig upplevelse
    </p>

    <br>
    <button class="button button-block button-assertive button-outline" ng-click="loginWithGoogle()">Logga in med Google</button>
    <button class="button button-block button-positive button-outline" ng-click="loginWithFacebook()">Logga in med Facebook</button>


  </ion-content>
</ion-view>
