<ion-view view-title="Sparade kvitton">
  <ion-content>

    <div class="list">
      <li class="item item-icon-left item-button-right" ng-repeat="item in items | orderBy:'-createdAt'"><i ng-if="item.done == false" ng-click="markDone(item.$id)" class="icon ion-ios-circle-outline"></i><i ng-if="item.done == true" ng-click="markUnDone(item.$id)" class="icon ion-ios-checkmark-outline"></i>
        <p>{{config[0].$value}}: {{item.costPerson1}} kr</p>
        <p>{{config[1].$value}}: {{item.costPerson2}} kr</p>
        <p ng-if="item.whoPayed == 'person1'"> {{config[0].$value}} <i class="ion-cash"></i> {{item.costPerson1 + item.costPerson2}} kr</p>
        <p ng-if="item.whoPayed == 'person2'"> {{config[1].$value}} <i class="ion-cash"></i> {{item.costPerson1 + item.costPerson2}} kr</p>
        <p><i class="ion-ios-clock-outline"></i> <span>{{item.createdAt | amCalendar}}</span> | <i ng-if="item.category == 'food'" class="ion-fork"></i><i ng-if="item.category == 'other'" class="ion-bag"></i><i ng-if="item.category == 'pleasure'" class="ion-ios-star-outline"></i></p>
        <button ng-click="remove(item.$id)" class="button button-outline button-assertive">Ta bort</button>
      </li>
    </div>

    <!-- ininity scroll -->
    <ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadMore()" distance="20%"></ion-infinite-scroll>

  </ion-content>
</ion-view>
