<ion-view view-title="Sparade">

  <ion-content>
    <h3 class="text-center">Sparade placeholder</h3>

    <div ng-repeat="item in items | orderBy:'-createdAt'" class="card">
      <div class="item item-text-wrap">
        <div class="row">
          <div class="col-60">
            <p>Caroline: {{item.caroline}} kr</p>
            <p>Daniel: {{item.daniel}} kr</p>
            <p ng-if="item.done == false">Status: <span class="not-payed">inte betald</span></p>
            <p ng-if="item.done == true">Status: <span class="payed">betald</span></p>
            <p><i class="ion-ios-clock-outline"></i> <span am-time-ago="item.createdAt"></p>
          </div>

          <div class="col-40">
            <button ng-click="markDone(item.$id)" class="button button-outline button-small button-block button-balanced">Klar</button>
            <button ng-click="remove(item.$id)"class="button button-outline button-small button-block button-assertive">Ta bort</button>
          </div>
        </div>
      </div>
    </div>

  </ion-content>

</ion-view>
