<ion-view view-title="Sparade kvitton">
  <ion-content>

    <div class="list">

      <!-- Unpayed receipts -->
      <div class="item item-divider">Obetalda</div>
      <!-- repeat all the items by filiter and order them -->
      <li class="item item-icon-left item-icon-right"
          ng-include src="'templates/_savedList.html'"
          ng-repeat="item in items_unpayed | filter:{done:false} | orderBy:'-createdAt'">
      </li>

      <!-- Payed receipts -->
      <div class="item item-divider">Betalda</div>
      <!-- repeat all the items by filiter and order them -->
      <li class="item item-icon-left item-icon-right"
          ng-include src="'templates/_savedList.html'"
          ng-repeat="item in items | filter:{done:true} | orderBy:'-createdAt'">
      </li>
      <!-- end of payed receipts -->
    </div>

    <!-- ininity scroll -->
    <ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadMore()" distance="20%"></ion-infinite-scroll>

  </ion-content>
</ion-view>
