<ion-view view-title="Inställningar">
  <ion-content ng-controller="settingsCtrl">

  <h1>Hej {{currentUser.google.displayName}}</h1>


  <!-- update names -->
  <form name="names" novalidate>
    <div class="list">

      <label class="item item-input">
        <input type="text" ng-model="newNamePerson1" placeholder="Nuvarande namn för person 1 är {{config[0].$value}}" required>
      </label>

      <label class="item item-input">
        <input type="text" ng-model="newNamePerson2" placeholder="Nuvarande namn för person 2 är {{config[1].$value}}" required>
      </label>

      <div class="padding-button">
        <button class="button button-block button-balanced" ng-disabled="names.$invalid" ng-click='updateNames()'> Uppdatera namn</button>
      </div>

    </div> <!-- end of update names -->
  </form>



    <div class="padding-button">
      Återskapa skyldighets-statistiken om det har blivit fel någonstans...
      <button ng-click="resetOwes()"class="button button-block button-assertive">Återställ skyldig-statistik</button>
    </div>

  </ion-content>
</ion-view>
