<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-royal" ng-controller="tabsCtrl">

  <!-- Calculate tab -->
  <ion-tab title="Räkna" icon-off="ion-ios-calculator" icon-on="ion-ios-calculator" href="#/tab/calculate">
    <ion-nav-view name="tab-calculate"></ion-nav-view>
  </ion-tab>

  <!-- Saved Tab -->
  <ion-tab title="Alla" icon-off="ion-ios-paper" icon-on="ion-ios-paper" href="#/tab/saved">
    <ion-nav-view name="tab-saved"></ion-nav-view>
  </ion-tab>

  <!-- unfinished receipts Tab -->
  <ion-tab title="Obetalda" badge="unpaidReceiptCount" badge-style="badge-assertive" icon-off="ion-ios-cart" icon-on="ion-ios-cart" href="#/tab/unpaid">
    <ion-nav-view name="tab-unpaid"></ion-nav-view>
  </ion-tab>

  <!-- settings Tab -->
  <ion-tab title="Profil" icon-off="ion-person" icon-on="ion-person" href="#/tab/profile">
    <ion-nav-view name="tab-profile"></ion-nav-view>
  </ion-tab>


</ion-tabs>
