<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-calm" ng-controller="tabsCtrl">

  <!-- Calculate tab -->
  <ion-tab title="Räkna" icon-off="ion-ios-calculator" icon-on="ion-ios-calculator" href="#/tab/calculate">
    <ion-nav-view name="tab-calculate"></ion-nav-view>
  </ion-tab>

  <!-- Saved Tab -->
  <ion-tab title="Alla" icon-off="ion-bookmark" icon-on="ion-bookmark" href="#/tab/saved">
    <ion-nav-view name="tab-saved"></ion-nav-view>
  </ion-tab>

  <!-- unfinished receipts Tab -->
  <ion-tab title="Obetalda" badge="unpaidReceiptCount" badge-style="badge-assertive" icon-off="ion-card" icon-on="ion-card" href="#/tab/unpaid">
    <ion-nav-view name="tab-unpaid"></ion-nav-view>
  </ion-tab>

  <!-- settings Tab -->
  <ion-tab title="Inställningar" icon-off="ion-ios-settings-strong" icon-on="ion-ios-settings-strong" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>


</ion-tabs>
