<ion-view view-title="Obetalda kvitton">
  <ion-content ng-controller="unpaidCtrl">

    <div class="list">

      <!-- Paid by person 1 -->
      <div class="item item-divider">{{config[0].$value}} betalade</div>
      <span ng-if="debt[1].$value == 0">
        <li class="item">
          Inga obetalda kvitton
        </li>
      </span>
      <a ng-include src="'templates/_unpaidListItem.html'"
         ng-repeat="item in notFinished | filter:{done:false, whoPaid:'person1'} | orderBy:'-createdAt'"
         ng-click="markDone(item.$id)"
         class="item item-icon-left">
      </a>

      <!-- Paid py person 2 -->
      <div class="item item-divider">{{config[1].$value}} betalade</div>
      <span ng-if="debt[0].$value == 0">
        <li class="item">
          Inga obetalda kvitton
        </li>
      </span>
      <a ng-include src="'templates/_unpaidListItem.html'"
         ng-repeat="item in notFinished | filter:{done:false, whoPaid:'person2'} | orderBy:'-createdAt'"
         ng-click="markDone(item.$id)" class="item item-icon-left">
      </a>

      <div class="item item-divider">Vem är skyldig vem</div>
      <li class="item" ng-show="debt[0].$value == 0 && debt[1].$value == 0">
        Ingen aktuell skuld
      </li>
      <!-- if person 1 owes person 2 -->
      <li class="item" ng-show="debt[0].$value < debt[1].$value">
        {{config[1].$value}} är skyldig {{config[0].$value}} {{debt[1].$value - debt[0].$value}} kr
      </li>
      <!-- if person 2 owes 1 -->
      <li class="item" ng-show="debt[1].$value < debt[0].$value">
        {{config[0].$value}} är skyldig {{config[1].$value}} {{debt[0].$value - debt[1].$value}} kr
      </li>
      <!-- if debt's are a tie -->
      <li class="item" ng-cloak ng-show="debt[0].$value == debt[1].$value && debt[0].$value != 0 && debt[1].$value != 0">
        Era skulder tar ut varandra
      </li>



    </div>


  </ion-content>
</ion-view>
