.padding-button {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

.gray {
  color: #D3D3D3;
}


.bar-header, .back-button {
   height: 60px;
}

.bar-header .title, .back-button {
   line-height: 60px;
}

.has-header {
   top: 60px;
}

.padidng-left {
  padding-left: 20px;
}

.hidden {
  display: none;
}

.visible {
  display: block !important;
}

.payed {
  color: #33cd5f;
}
.not-payed {
  color: #ef473a;
}

.card-notpayed {
  background-color: #FFE7E7;
}

.card-payed {
  background-color: green;
}

.applyFooter{
  margin-bottom: 200px !important;
}
