/* Empty. Add your own CSS if you like */
.padding-button {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  display: inline-block;
}

.padidng-left {
  padding-left: 20px;
}

.hidden {
  display: none;
}

.visible {
  display: block !important;
}

.payed {
  color: #33cd5f;
}
.not-payed {
  color: #ef473a;
}

.card-notpayed {
  background-color: #FFE7E7;
}

.card-payed {
  background-color: green;
}

.applyFooter{
  margin-bottom: 200px !important;
}
